h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.2em;
    margin: 16px 0; 
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#slogan {
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000;
    margin: 8px auto 64px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: auto;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.bold {
    font-weight: 500;
    font-size: 1.6rem;
} */

#logo {
    margin: 24px auto; 
    width: 200px;
}

.button {
    background-color: #849bff;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 48px;
    margin: 24px 0 48px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor:pointer;
}

.button:hover {
    background-color: #4d6dff;
}

.button:active {
    background-color: #1a2aff;
}
